<% if Measurement.find_by(user_id: current_user.id) == nil %>
	<h1>Please update your measurements before placing an order</h1>
<% else %>
	<%= form_tag new_order_post_path, :method => :post do%>
		<%= radio_button_tag(:measurements, "existing") %>
		<%= label_tag(:measurements, "I would like to use my measurements") %>
		<%= radio_button_tag(:measurements, "new") %>
		<%= label_tag(:measurements, "I would like to use new measurements") %>

		<%= submit_tag 'Submit' %>
	<% end %>
<% end %>
