<h1>Let's review your suit</h1>

<h3>Measurements</h3>
<table class = "table table-striped">
	<tr>
		<td>Shoulders</td>
		<td><%= @suit.shoulders %></td>
	</tr>
	<tr>
		<td>Sleeve</td>
		<td><%= @suit.sleeve %></td>
	</tr>
	<tr>
		<td>Chest</td>
		<td><%= @suit.chest %></td>
	</tr>
	<tr>
		<td>Stomach</td>
		<td><%= @suit.stomach %></td>
	</tr>
	<tr>
		<td>Jacket Length</td>
		<td><%= @suit.jacket_length %></td>
	</tr>
	<tr>
		<td>Front</td>
		<td><%= @suit.front %></td>
	</tr>
	<tr>
		<td>Back</td>
		<td><%= @suit.back %></td>
	</tr>
	<tr>
		<td>Waist</td>
		<td><%= @suit.waist %></td>
	</tr>
	<tr>
		<td>Hips</td>
		<td><%= @suit.hips %></td>
	</tr>
	<tr>
		<td>crotch</td>
		<td><%= @suit.crotch %></td>
	</tr>
	<tr>
		<td>Pants Length</td>
		<td><%= @suit.pants_length %></td>
	</tr>
	<tr>
		<td>Thigh</td>
		<td><%= @suit.thigh %></td>
	</tr>
	<tr>
		<td>Knee</td>
		<td><%= @suit.knee %></td>
	</tr>
	<tr>
		<td>Ankle</td>
		<td><%= @suit.ankle %></td>
	</tr>
</table>

<h3>Customizations</h3>

<table class = "table table-striped">
	<tr>
		<td>Lapel</td>
		<td><%= @suit.lapel %><td>
	</tr>
	<tr>
		<td>Vents</td>
		<td><%= @suit.vents %></td>
	</tr>
	<tr>
		<td>Buttons</td>
		<td><%=	@suit.buttons %></td>
	</tr>
</table>

<%= link_to "Continue", {controller: "orders", action: "create", suit_id: @suit.id}, class: "btn btn-primary" %>