<% if Measurement.find_by(user_id: current_user.id) == nil %>
	<h1>Please update your measurements before placing an order</h1>
<% else %>
	<% if params[:measurements] == "existing" %>
		<h2>Would you like to update your measurements?</h2>
		<%= form_for(@measurement) do |f| %>
			<%= render 'layouts/measurements', f: f %>
			<%= f.hidden_field :source, value: "order" %>
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	<% else %>
		<%= form_for(@suit, url: orders_path) do |f| %>
			<%= render 'layouts/measurements', f: f %>
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	<% end %>
<% end %>




