<table>
	<tr>
		<td><%= f.label :shoulders%></td>
		<td><%= f.number_field :shoulders, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :sleeve%></td>
		<td><%= f.number_field :sleeve, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :chest%></td>
		<td><%= f.number_field :chest, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :stomach%></td>
		<td><%= f.number_field :stomach, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :jacket_length%></td>
		<td><%= f.number_field :jacket_length, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :front%></td>
		<td><%= f.number_field :front, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :back%></td>
		<td><%= f.number_field :back, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :waist%></td>
		<td><%= f.number_field :waist, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :hips%></td>
		<td><%= f.number_field :hips, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :crotch%></td>
		<td><%= f.number_field :crotch, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :pants_length%></td>
		<td><%= f.number_field :pants_length, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :thigh%></td>
		<td><%= f.number_field :thigh, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :knee%></td>
		<td><%= f.number_field :knee, :step => 'any', class: "form-control" %></td>
	</tr>
	<tr>
		<td><%= f.label :ankle%></td>
		<td><%= f.number_field :ankle, :step => 'any', class: "form-control" %></td>
	</tr>
</table>